@model SystemDesignHelpModel
@using Nop.Web.Models.SystemDesignHelp;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    // Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<div id="ph-title">
    <div class="page-title">
        <h1></h1>
    </div>
</div>
<div class="clr topiccontainer">
    <div style="width: 60%; margin: auto;">
        <div class="fltleft" style="width: 23%; margin-right: 10px;">
            <img src="~/Themes/MisterLandscaper/Content/images/System-Design-Help_03.png" />
        </div>
        <div class="fltleft step1-title" style="width: 72%;">
            <span class="topicmaintitlespan">System Design Help</span>
            <div class="topicpageheaderdiv">Follow the instructions below and fill out the form to get personalized, micro spray and drip irrigation system design help.</div>
        </div>
    </div>
    <div class="forline"></div>
    <div class="clr systemdesign">
        <div class="step3-title">
            <h1>We Got It!</h1>
        </div>
       <div class="step3-desc">We have received your help request. We should have everything needed to finish your design. The completed recommendations and shopping list will be delivered via email in 3-5 business days. Thank you for choosing Mister Landscaper.</div>
    </div>
</div>
